<% include partials/header.ejs %>

<div id="bestpractices">
    <h1>
        <strong>Best Practices</strong>
    </h1>
    <br />
    <figure>
        <img src="img/keyboard_cat.jpg" alt="Person working at computer">
        <figcaption>We all play a part in cybersecurity</figcaption>
        <br />
    </figure>
    <p>
        There is no one size fits all approach to proper cybersecurity. Every measure
        should be considered to protect the data of your customers and your company. According to 
        observeit.com, even third party vendors are a common source of data loss. Employ common sense
        data back up procedures in case of any incidents. Social engineering, or the manipulation of people
        to get data, is another concern. People may pose as professionals in order to gain your trust.
        <br/>
        Cybersecurity should be incorporated with training new employees. Everyone has a role to play
        in keeping systems secure. The best path to success is to always keep your systems up to date and 
        stay in accordance to all government regulations with regards to handling data. It is highly recommended
        all incidents are logged for reference.
    </p>
    <br/>
    <p id="reference">
    These best practices are outlined by <a class="paralink" href="https://www.observeit.com/blog/10-best-practices-cyber-security-2017/">observeit.com.</a>
    Please refer to their website for more information.
    </p>
</div>

<% include partials/footer.ejs %>