<% include partials/header.ejs %>

<div id="firms"></div>
    <h1>
        <strong>Cybersecurity Companies</strong>
    </h1>
    <br />
    <img src="img/professionals.jpg" alt="Picture of a group of cybersecurity professionals">
    <br/>   
    <p>
        There are numerous firms that specialize in the prevention and remedy of cybercrime.
        Cybersecurity is a rapidly growing industry with numerous avenues for specialization.
        According to <a class="paralink" href="https://cybersecurityventures.com/cybersecurity-market-report/">cybersecurityventures.com</a>, 
        cybersecurity will be a trillion dollar industry by the year 2021. Every business is in need
        of some level of protection, and there are numerous firms out there willing to provide services.
         Here are just a few:
    </p>
    <ul id="companies">
        <li><span class="companies">Cisco Systems</span></li>
        <li><span class="companies">CyberArk</span></li>
        <li><span class="companies">Amazon Web Services</span></li>
        <li><span class="companies">Check Point Software</span></li>
        <li><span class="companies">Palo Alto Networks</span></li>
        <li><span class="companies">Amazon Web Services</span></li>
    </ul>
    <p id="reference">
        Company list provided by: <a href="https://investingnews.com/daily/tech-investing/cybersecurity-investing/top-cyber-security-companies/">investingnews.com</a>
    </p>
</div>

<% include partials/footer.ejs %>