<% include partials/header.ejs %>

<section>
    <h1>
        <strong>What is Cybersecurity and Cybercrime?</strong>
    </h1>
    <img src="img/chain.jpg" alt="Picture of a chained up laptop">
    <br/>
    <p>
        In an increasingly online world, cybercrime and security become a larger
        concern. Cybercrime takes many shapes and forms, so it is important to be vigilant
        in order to protect your data. The last thing anyone wants is a hacker getting into your system and being all like "<%= hackerTalk %>" so be careful. The United States Cybersecurity and Infrastructure 
        Security Agency (CISA) describes the situation as so:
    </p>
    <blockquote cite="https://www.us-cert.gov/ncas/tips/ST04-001">
        It seems that everything relies on computers and the internet now—communication 
        (e.g., email, smartphones), entertainment (e.g., digital cable, mp3s), transportation 
        (e.g., car engine systems, airplane navigation), shopping (e.g., online shopping, credit cards), 
        medicine (e.g., medical equipment, medical records), and the list goes on. 
        How much of your daily life relies on computers? 
        How much of your personal information is stored either on your own computer 
        or on someone else's system?

        Cybersecurity involves protecting that information by preventing, detecting, and responding to cyber attacks.
    </blockquote>
    <br/>
</section>
<% include partials/footer.ejs %>