<% include partials/header.ejs %>

<div>
    <h1>
        <strong>Types of Cybersecurity Threats</strong>
    </h1>
    <br />
    <img src="img/security.jpg" alt="Picture of a computer monitor with text">
    <br/>
        <ul id="crimeList">
            <li><span class="cybercrime">Phishing Attacks:</span> Social Engineering designed to steal user credentials</li>
            <li><span class="cybercrime">Malware:</span> Programs intended to harm a computer system</li>
            <li><span class="cybercrime">Web Attacks:</span> Using vulnerabilities in websites to steal data or cause damage</li>
            <li><span class="cybercrime">Other:</span> Man-in-the-middle, insider threats, eavesdropping, and many more ways for criminals to attack your systems</li>
        </ul>
    <p id="reference">
        Information for this page was sourced from <a href="https://phoenixnap.com/blog/cyber-security-attack-types">Phoenix NAP, LLC.</a> 
        Please refer to their website for more detailed information.
    </p>
</div>

<% include partials/footer.ejs %>